[run]
source =
    urllib3
    test

omit =
    *urllib3/packages/*
    *urllib3/contrib/pyopenssl.py
    *urllib3/contrib/securetransport.py
    *urllib3/contrib/_securetransport/*

[paths]
source =
    src/urllib3
    test

[report]
exclude_lines =
    except ImportError:
    pass
    import
    raise NotImplementedError
    .* # Platform-specific.*
    .*:.* # Python \d.*
    .* # Abstract
    .* # Defensive:
    if TYPE_CHECKING:
    ^\s*?\.\.\.\s*$
