[run]
source =
    urllib3

omit =
    *urllib3/packages/*
    *urllib3/contrib/pyopenssl.py
    *urllib3/contrib/securetransport.py
    *urllib3/contrib/_securetransport/*

[paths]
source =
    src/urllib3
    */urllib3
    *\urllib3

[report]
exclude_lines =
    except ModuleNotFoundError:
    except ImportError:
    pass
    import
    raise NotImplementedError
    .* # Platform-specific.*
    .*:.* # Python \d.*
    .* # Abstract
    .* # Defensive:
    if (?:typing.)?TYPE_CHECKING:
    ^\s*?\.\.\.\s*$
