[run]
omit =
    urllib3/packages/*
    urllib3/contrib/ntlmpool.py

[report]
exclude_lines =
    except ImportError:
    pass
    import
    raise
    .* # Platform-specific.*
    .*:.* # Python \d.*
    .* # Abstract
    .* # Defensive:
