language: python
script:
  - ./_travis/run.sh
before_install:
  - openssl version
after_success:
  - ls -a
  - coverage report
  - coverage combine
  - codecov --env TRAVIS_OS_NAME,TOXENV
cache:
  directories:
  - ${HOME}/.cache
install:
  - ./_travis/install.sh
notifications:
  email: false
env:
  global:
    - GAE_PYTHONPATH=${HOME}/.cache/google_appengine
    - PYTHONWARNINGS=always::DeprecationWarning
  matrix:
    - TOXENV=flake8-py3
    - TOXENV=py26
    - TOXENV=py27
    - TOXENV=py33
    - TOXENV=py34
    - TOXENV=gae
# https://github.com/travis-ci/travis-ci/issues/4794
matrix:
  include:
    - python: 3.5
      env: TOXENV=py35
    - python: pypy-5.4
      env: TOXENV=pypy
    - language: generic
      os: osx
      env: TOXENV=py26
    - language: generic
      os: osx
      env: TOXENV=py27
    - language: generic
      os: osx
      env: TOXENV=py33
    - language: generic
      os: osx
      env: TOXENV=py34
    - language: generic
      os: osx
      env: TOXENV=py35
  allow_failures:
  - python: pypy-5.4
sudo: false
