language: python
python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - 3.4
script: nosetests
install:
  - pip install -r test-requirements.txt
notifications:
  email: false
env: PYTHONWARNINGS=always::DeprecationWarning
