language: python
os: linux
dist: xenial

before_install:
  - env
  - openssl version
  - python -c "import ssl; print(ssl.OPENSSL_VERSION)"

install:
  - ./ci/install.sh

script:
  - ./ci/run.sh
  - ./ci/upload_coverage.sh

cache:
  directories:
  - ${HOME}/.cache

notifications:
  email: false

env:
  global:
    - PYTHONWARNINGS=always::DeprecationWarning

    - PYPI_USERNAME=urllib3
    # PYPI_PASSWORD is set in Travis control panel.

jobs:
  allow_failures:
    - python: nightly
  include:
    # Unit tests
    - python: 2.7
      env: NOX_SESSION=test-2.7
    - python: 3.5
      env: NOX_SESSION=test-3.5
    - python: 3.6
      env: NOX_SESSION=test-3.6
    - python: 3.7
      env: NOX_SESSION=test-3.7
    - python: 3.8
      env: NOX_SESSION=test-3.8
    - python: 3.9-dev
      env: NOX_SESSION=test-3.9
    - python: nightly
      env: NOX_SESSION=test-3.10
    - python: pypy2.7-7.3.1
      env: NOX_SESSION=test-pypy
    - python: pypy3.6-7.3.1
      env: NOX_SESSION=test-pypy
      dist: bionic

    # Extras
    - python: 2.7
      env: NOX_SESSION=app_engine GAE_SDK_PATH=${HOME}/.cache/google_appengine
    - python: 2.7
      env: NOX_SESSION=google_brotli-2
    - python: 3.7
      env: NOX_SESSION=google_brotli-3

    # Downstream integration tests.
    - python: 2.7
      env: DOWNSTREAM=requests
      stage: integration

    - python: 3.7
      env: DOWNSTREAM=requests
      stage: integration

    - python: 2.7
      env: DOWNSTREAM=botocore
      stage: integration

    - python: 3.7
      env: DOWNSTREAM=botocore
      stage: integration

    - python: 3.7
      stage: deploy
      script:
        - ./ci/deploy.sh

stages:
  - name: test
    if: tag IS blank

  # Run integration tests for release candidates
  - name: integration
    if: type = pull_request AND head_branch =~ ^release-[\d.]+$ AND tag IS blank

  # Deploy on any tags
  - name: deploy
    if: tag IS present AND tag =~ /^(\d+\.\d+(?:.\d+)?)$/ AND repo = urllib3/urllib3
