language: python
sudo: false
stage: test
dist: xenial

before_install:
  - env
  - openssl version
  - python -c "import ssl; print(ssl.OPENSSL_VERSION)"

install:
  - ./_travis/install.sh

script:
  - ./_travis/run.sh
  - ./_travis/upload_coverage.sh

cache:
  directories:
  - ${HOME}/.cache

notifications:
  email: false

env:
  global:
    - PYTHONWARNINGS=always::DeprecationWarning

    - PYPI_USERNAME=urllib3
    # PYPI_PASSWORD is set in Travis control panel.

matrix:
  include:
    # Lint & documentation.
    - python: 3.6
      env: NOX_SESSION=lint
    - python: 3.6
      env: NOX_SESSION=docs

    # Unit tests
    - python: 2.7
      env: NOX_SESSION=test-2.7
    - python: 3.4
      env: NOX_SESSION=test-3.4
    - python: 3.5
      env: NOX_SESSION=test-3.5
    - python: 3.6
      env: NOX_SESSION=test-3.6
    - python: 3.7
      env: NOX_SESSION=test-3.7
    - python: 3.8-dev
      env: NOX_SESSION=test-3.8
    - python: pypy2.7-6.0
      env: NOX_SESSION=test-pypy
    - python: pypy3.5-6.0
      env: NOX_SESSION=test-pypy

    # Extras
    - python: 2.7
      env: NOX_SESSION=app_engine GAE_SDK_PATH=${HOME}/.cache/google_appengine
    - python: 2.7
      env: NOX_SESSION=google_brotli-2
    - python: 3.7
      env: NOX_SESSION=google_brotli-3

    # OS X unit tests.
    - language: generic
      os: osx
      env: NOX_SESSION=test-2.7
    - language: generic
      os: osx
      env: NOX_SESSION=test-3.4
    - language: generic
      os: osx
      env: NOX_SESSION=test-3.5
    - language: generic
      os: osx
      env: NOX_SESSION=test-3.6
    - language: generic
      os: osx
      env: NOX_SESSION=test-3.7

    # Downstream integration tests.
    - python: 2.7
      env: DOWNSTREAM=requests
      stage: integration

    - python: 3.7
      env: DOWNSTREAM=requests
      stage: integration

    - python: 2.7
      env: DOWNSTREAM=botocore
      stage: integration

    - python: 3.7
      env: DOWNSTREAM=botocore
      stage: integration

    - python: 3.7
      stage: deploy
      script:
        - ./_travis/deploy.sh

  allow_failures:
    - python: pypy3.5-6.0
    - python: pypy2.7-6.0

stages:
  - name: test
    if: tag IS blank

  # Run integration tests for release candidates
  - name: integration
    if: type = pull_request AND head_branch =~ ^release-[\d.]+$ AND tag IS blank

  # Deploy on any tags
  - name: deploy
    if: tag IS present AND tag =~ /^(\d+\.\d+(?:.\d+)?)$/ AND repo = urllib3/urllib3
