name: CI

on: [push, pull_request]

permissions: "read-all"

defaults:
  run:
    shell: bash

jobs:
  package:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.7"
      - name: Check packages
        run: |
          python3.7 -m pip install pip setuptools wheel twine rstcheck;
          python3.7 setup.py sdist bdist_wheel;
          rstcheck README.rst CHANGES.rst
          python3.7 -m twine check dist/*
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
        os: [macos-11, windows-latest, ubuntu-latest]
        experimental: [false]
        nox-session: ['']
        exclude:
          # actions/setup-python dropped support for 3.6 in Ubuntu 22.04
          - python-version: "3.6"
            os: ubuntu-latest
          # Python 3.7 does not fully support OpenSSL 3, the default on Ubuntu 22.04
          # https://bugs.python.org/issue38820
          - python-version: "3.7"
            os: ubuntu-latest
        include:
          - python-version: "2.7"
            os: ubuntu-latest
            experimental: false
            nox-session: ''
          - python-version: "3.6"
            os: ubuntu-20.04
            experimental: false
            nox-session: ''
          - python-version: "3.7"
            os: ubuntu-20.04
            experimental: false
            nox-session: ''
          - python-version: "pypy3.9"
            os: ubuntu-latest
            experimental: false
            nox-session: test-pypy
          - python-version: "pypy2.7"
            os: ubuntu-20.04
            experimental: false
            nox-session: test-pypy
          - python-version: "2.7"
            os: ubuntu-latest
            experimental: false
            nox-session: google_brotli-2.7
          - python-version: "3.x"
            os: ubuntu-latest
            experimental: false
            nox-session: google_brotli-3
          - python-version: "2.7"
            os: ubuntu-latest
            experimental: false
            nox-session: app_engine
          - python-version: 3.11-dev
            os: ubuntu-latest
            experimental: true
            nox-session: test-3.11

    runs-on: ${{ matrix.os }}
    name: ${{ fromJson('{"macos-11":"macOS","windows-latest":"Windows","ubuntu-20.04":"Ubuntu 20.04","ubuntu-latest":"Ubuntu"}')[matrix.os] }} ${{ matrix.python-version }} ${{ matrix.nox-session}}
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Up Python - ${{ matrix.python-version }}
        if: matrix.python-version != '2.7'
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # Unfortunately, actions/setup-python does not support CPython 2.7.
      - name: Set Up Python - 2.7
        if: matrix.python-version == '2.7'
        run: |
          sudo apt update
          sudo apt install python2.7-dev python-is-python3
          curl https://bootstrap.pypa.io/pip/2.7/get-pip.py --output get-pip.py
          sudo python2.7 get-pip.py

      - name: Set Up Python 3 to run nox
        if: matrix.python-version == '2.7' || matrix.python-version == 'pypy2.7'
        uses: actions/setup-python@v4
        with:
          python-version: "3"

      - if: matrix.python-version == '2.7' || matrix.python-version == 'pypy2.7'
        name: Install Dependencies
        run: python -m pip install --upgrade pip setuptools nox 'virtualenv<20.22.0'

      - if: matrix.python-version != '2.7' && matrix.python-version != 'pypy2.7'
        name: Install Dependencies
        run: python -m pip install --upgrade pip setuptools nox

      - name: Run Tests
        run: ./ci/run_tests.sh
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
          NOX_SESSION: ${{ matrix.nox-session }}

      - name: Upload Coverage
        if: ${{ matrix.nox-session != 'unsupported_python2' }}
        uses: "actions/upload-artifact@v2"
        with:
          name: coverage-data
          path: ".coverage.*"
          if-no-files-found: error


  coverage:
    if: always()
    runs-on: "ubuntu-latest"
    needs: test
    steps:
      - uses: actions/checkout@v2
      - name: "Use latest Python so it understands all syntax"
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: "Install coverage"
        run: "python -m pip install --upgrade coverage"

      - name: "Download coverage data"
        uses: actions/download-artifact@v2
        with:
          name: coverage-data

      - name: "Combine & check coverage"
        run: |
          python -m coverage combine
          python -m coverage html --skip-covered --skip-empty
          python -m coverage report --ignore-errors --show-missing --fail-under=100

      - name: "Upload report if check failed"
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report
          path: htmlcov
        if: ${{ failure() }}
