name: CI

on: [push, pull_request]

jobs:
  macOS:
    runs-on: macos-latest
    
    strategy:
      fail-fast: false
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v1
      - name: Set Up Python 3.7 to run nox
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Set Up Python - ${{ matrix.python-version }}
        if: matrix.python_version != '3.7'
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python3.7 -m pip install --upgrade nox
      - name: Run Tests
        run: |
          nox -s test-${{ matrix.python-version }}
      - name: Upload Coverage
        run: ./ci/upload_coverage.sh
        shell: bash
        env:
          JOB_NAME: 'macOS (${{ matrix.python-version }})'
