name: Downstream

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: "read"

jobs:
  downstream:
    strategy:
      fail-fast: false
      matrix:
        downstream: [botocore, requests]
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: "Setup Python"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.x"

      - name: "Install uv"
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b  # v7.2.0
        with:
          version: "0.9.5"

      - name: "Run downstream tests"
        run: uvx nox -s downstream_${{ matrix.downstream }}
