name: Downstream

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: "read"

jobs:
  downstream:
    strategy:
      fail-fast: false
      matrix:
        downstream: [botocore, requests]
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: "Setup Python"
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.x"

      - name: "Install uv"
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b  # v7.3.0
        with:
          version: "0.9.5"

      - name: "Run downstream tests"
        run: uvx nox -s downstream_${{ matrix.downstream }}
