name: Downstream

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: "read"

jobs:
  downstream:
    strategy:
      fail-fast: false
      matrix:
        downstream: [botocore, requests]
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          persist-credentials: false

      - name: "Setup Python"
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.x"

      - name: "Install uv"
        uses: astral-sh/setup-uv@c7f87aa956e4c323abf06d5dec078e358f6b4d04 # v6.0.0
        with:
          version: "0.6.17"

      - name: "Run downstream tests"
        run: uvx nox -s downstream_${{ matrix.downstream }}
