name: Downstream

on: [push, pull_request]

permissions: "read-all"

jobs:
  integration:
    strategy:
      fail-fast: false
      matrix:
        downstream: [botocore, requests]
    runs-on: ubuntu-18.04
    timeout-minutes: 20

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8"

      - name: "Setup Python"
        uses: "actions/setup-python@b55428b1882923874294fa556849718a1d7f2ca5"
        with:
          python-version: "3.x"

      - name: "Install dependencies"
        run: python -m pip install --upgrade nox

      - name: "Run downstream tests"
        run: nox -s downstream_${{ matrix.downstream }}
