name: lint

on: [push, pull_request]

permissions: "read-all"

jobs:
  lint:
    runs-on: ubuntu-20.04
    timeout-minutes: 10

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8"

      - name: "Setup Python"
        uses: "actions/setup-python@2c3dd9e7e29afd70cc0950079bde6c979d1f69f9"
        with:
          python-version: "3.x"
          cache: pip

      - name: "Run pre-commit"
        uses: pre-commit/action@646c83fcd040023954eafda54b4db0192ce70507

      - name: "Install dependencies"
        run: python -m pip install nox

      - name: "Run mypy"
        run: nox -s mypy
