name: lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-20.04
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          cache: pip
      - name: Lint the code
        uses: pre-commit/action@v3.0.0
      - name: Install dependencies
        run: python3.8 -m pip install nox
      - name: Run mypy
        run: nox -s mypy
